[type="checkbox"].filled-in:checked + span:not(.lever)::after 
  border: 2px solid var(--secondary);
  background-color: var(--secondary);

[type="checkbox"].filled-in:checked + span:not(.lever)::before 
  border-right: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);