.filters 
  width 160px;
  background-color var(--quartiery-light)
  color var(--primary)
  padding-left 20px
  margin-right 20px
  h4 
    margin-bottom 0;
    font-weight bold;
  ul.no-style 
    margin-bottom px-to-rem(30px)  
  li 
    cursor pointer;
    &:hover 
      color var(--quartiery-dark);  
    &.active 
      font-weight bold;
      color var(--quartiery-dark);  
    &.back 
      i 
        font-size px-to-rem(12px)
        padding-right 4px
  .show-more 
    font-size px-to-rem(12px)
    color var(--secondary)
    font-weight bold;
  

