  .autocomplete-selected
    display flex
    flex-wrap wrap
    margin-bottom 8px
    &__item
      background-color var(--primary)
      color white; 
      padding 4px 6px
      cursor pointer;
      margin-right 4px;
      font-size px-to-rem(14px)
      margin-bottom 4px;
      &.active 
        background-color var(--secondary)
        color var(--primary)
      i 
        font-size px-to-rem(14px)      

