media_queries = {
  xs  : "only screen and (max-width: 600px)",
  sm  : "only screen and (min-width: 601px) and (max-width: 760px)",
  mid  : "only screen and (min-width: 601px) and (max-width: 900px)",
  md  : "only screen and (min-width: 761px) and (max-width: 1264px)",
  lg  : "only screen and (min-width: 1265px) and (max-width: 1904px)",
  xl : "only screen and (min-width: 1905px)"
}

for_breakpoint(breakpoints)
  conditions = ()
  for breakpoint in breakpoints
    push(conditions, media_queries[breakpoint])
  conditions = join(", ", conditions)
  @media conditions
    {block}


.visible
  &-sm 
    display none
  &-md 
    display none
  &-lg 
    display block

.hide  
  &-sm 
    display block
  &-md 
    display block
  &-lg 
    display none

+for_breakpoint(md) 
  .visible
    &-md 
      display block

  .hide  
    &-md 
      display none

+for_breakpoint(sm xs) 
  .visible
    &-sm 
      display block
  .hide  
    &-sm 
      display none