.btn
  &-primary 
    background-color: $secondary
    color: $lighter-gray
    text-decoration: none;
    padding: 10px 20px
    transition background-color 0.2s ease-in-out
    &:hover
      background-color: lighten($secondary,10%)
      
