//fonts
// $font-writing = 'Shadows Into Light', cursive
// $font-sans-serif = Inconsolata, Helvetica, Arial, sans-serif

$font-sans-serif = Inconsolata, Helvetica, Arial, sans-serif
$font-serif =  'Shadows Into Light', cursive
$font-headings = $font-serif //'Cabin Sketch', cursive;
.text-color {
  color: var(--text-color);
}
.primary--text {
  color: var(--primary);
}
.secondary--text {
  color: var(--secondary);
}
.quartiery--text {
  color: var(--quartiery);
}
.primary {
  background-color: var(--primary) !important;
}
.secondary {
  background-color: var(--secondary) !important;
}
.quartiery {
  background-color: var(--quartiery) !important;
}
.secondary-dark {
  background-color: var(--secondary-dark) !important;
}
