colors() 
    &.A.active, &.A .notes__key-animate
        background-color $neon-purple-darker !important
    &.AS.active, &.AS .notes__key-animate
        background-color $neon-green-light !important
    &.B.active, &.B .notes__key-animate
        background-color $neon-brown !important
    &.C.active, &.C .notes__key-animate
        background-color $neon-yellow !important
    &.CS.active, &.CS .notes__key-animate
        background-color $neon-pink !important
    &.D.active, &.D .notes__key-animate
        background-color $neon-green-blue !important
    &.DS.active, &.DS .notes__key-animate
        background-color $neon-fushia !important
    &.E.active, &.E .notes__key-animate
        background-color $neon-blue-light !important
    &.F.active, &.F .notes__key-animate
        background-color $neon-purple-dark !important
    &.FS.active, &.FS .notes__key-animate
        background-color $neon-blue-dark !important
    &.G.active, &.G .notes__key-animate
        background-color $neon-orange !important
    &.GS.active, &.GS .notes__key-animate
        background-color $neon-purple-light !important
