

imagePath = '/assets/images/';

$navigation-height-mobile = 56px;


$header-height=64px;
$tabs-height= 60px;
//spacing variables
$section-vertical-spacing = px-to-rem(40px);
$section-width-padding = px-to-rem(60px)
$section-width-padding-mobile = px-to-rem(28px)

