imagePath = '/assets/images/';

$white = #ffffff;

//theme colors
$primary = #455A64
$primary-light = #4f546d
$primary-dark = #0f1015 

//greys
$lighter-gray = #fefefe
$light-gray = #cdcdcd

$secondary = #e06616
$secondary-light = #ffb04c
$secondary-dark = #bc5100

//primary and secondary color locked for now - others tbd
$accent = #AFB42B
$accent-text = #799168;
$error = #E64A19
$warning = #FFD600
$info = #01579B
$success = #4caf50

$gray-light = #cdcdcd

$font-writing = 'Shadows Into Light', cursive
$font-sans-serif = Inconsolata, Helvetica, Arial, sans-serif

//spacing variables
$vertical-section-spacing = 30px;


.text--white{
  color $white
}

// .primary{
//   colo
// }
