// Remove Focus Boxes
select:focus
  outline: $select-focus
button:focus
  outline: none
  background-color: $button-background-focus
label
  font-size: $label-font-size
  color: $text-color
  
@import 'input-fields'
@import 'autocomplete'
@import 'radio-buttons'
@import 'checkboxes'
@import 'switches'
@import 'select'
@import 'file-input'
@import 'range'